<section class="section hero is-fullheight about-image">
<article class="media　about">
  <div class="media-content">

    <div class="content has-text-centered">
      <p style="margin: 30px">
        <strong class="is-size-3" style="font-family: cursive;">今日の積み上げアプリとは？</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong class="is-size-5" style="font-family: cursive;">毎日のスキルアップのための努力をお互いに報告しあうSNSです。</strong>
      </p>
      <p>
        <strong class="is-size-5" style="font-family: cursive;">みんなで励ましあいながら、目標に向かって努力を積み上げていきましょう。</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p style="margin: 30px;padding-top: 40px">
        <strong class="is-size-3" style="font-family: cursive;">今日の積み上げを記録するには？</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong class="is-size-5" style="font-family: cursive;">他の人の積み上げを3回スゴイね！するとあなたの積み上げを1回記録することができます。</strong>
      </p>
      <p>
        <strong class="is-size-5" style="font-family: cursive;">投稿一覧から他の人の積み上げを選んでスゴイね！しましょう。</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p style="margin: 30px;padding-top: 40px">
        <strong class="is-size-3" style="font-family: cursive;">他に何ができるの？</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong class="is-size-5" style="font-family: cursive;">マイページではあなたがもらったスゴイね！の数が表示されます。</strong>
      </p>
      <p>
        <strong class="is-size-5" style="font-family: cursive;">また、過去の積み上げが反映されたカレンダーを確認することができます。</strong>
      </p>
      <p>
        <strong class="is-size-5" style="font-family: cursive;">せひ努力のモチベーション維持に活用してください。</strong>
      </p>
    </div>
  </div>
</article>
</section>
