<section class="section">
<article class="media">
  <div class="media-content">
    <div class="content has-text-centered">
      <p>
        <strong class="is-size-1" style="font-family: cursive;">今日の積み上げアプリ</strong>
      </p>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong class="is-size-4" style="font-family: cursive;">塵も積もれば山となる！</strong>
      </p>
    </div>
  </div>
</article>
<br>
<div class="columns is-centered">
  <div class="column">
    <figure>
      <div class="main-image"></div>
    </figure>
  </div>
</div>
</section>
